@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerBlackItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerMedium.woff2') format('woff2'),
    url('./assets/fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerBlack.woff2') format('woff2'),
    url('./assets/fonts/MullerBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('./assets/fonts/MullerHairline.woff2') format('woff2'),
    url('./assets/fonts/MullerHairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerHeavy.woff2') format('woff2'),
    url('./assets/fonts/MullerHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerHeavyItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerUltraLightItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerUltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerLightItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerUltraLight.woff2') format('woff2'),
    url('./assets/fonts/MullerUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerExtraBoldItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerLight.woff2') format('woff2'),
    url('./assets/fonts/MullerLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerBoldItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerMediumItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerThin.woff2') format('woff2'),
    url('./assets/fonts/MullerThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerRegular.woff2') format('woff2'),
    url('./assets/fonts/MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerThinItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerExtraBold.woff2') format('woff2'),
    url('./assets/fonts/MullerExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerBold.woff2') format('woff2'),
    url('./assets/fonts/MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('./assets/fonts/MullerRegularItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller Hairline';
    src: url('./assets/fonts/MullerHairlineItalic.woff2') format('woff2'),
    url('./assets/fonts/MullerHairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: Muller, sans-serif !important;
}

@media screen  and (min-width: 1000px) {
    .form-filter__item_games {
        display: none;
    }
}

.loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0359be;
    -webkit-animation: main-spin 2s linear infinite;
    animation: main-spin 2s linear infinite;
}

.loader::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #006dee;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0086f6;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes main-spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes main-spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.wrapper > div {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: -moz-linear-gradient(-90deg, rgb(14, 26, 44) 0%, rgba(7, 25, 53, 1) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(14, 26, 44) 0%, rgba(7, 25, 53, 1) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(14, 26, 44) 0%, rgba(7, 25, 53, 1) 100%);
    background-image: linear-gradient(-90deg, rgb(14, 26, 44) 0%, rgba(7, 25, 53, 1) 100%);
    z-index: -2;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .2;
    z-index: -1;
}

.page-content-wrapper,
.header,
.footer {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled .page-content-wrapper,
.wrapper.toggled .header,
.wrapper.toggled .footer {
    transform: translateX(12%);
}

.wrapper.toggled .sidebar-wrapper {
    width: 18.5%;
    min-width: 270px;
}

.sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
    min-width: 0;
    transform-origin: left center;
    background-color: #0b1523;
    overflow: hidden;
    z-index: 10;
}

.sidebar-header {
    display: block;
    max-height: 90px;
    padding-left: 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.wrapper.toggled .sidebar-header {
    display: flex;
    justify-content: space-between;
}

.static article {
    padding: 0 50px 180px;
}

.static section {
    max-width: 80%;
}

.heading,
.static h1 {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
}

.static h2 {
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
}

.static h3 {
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    padding-top: 40px;
    margin-bottom: 0;
}

.static p {
    color: #3c4b63;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 20px;
    margin-bottom: 0;
}

.static img {
    max-width: 100%;
    margin: 46px 0 24px;
    border-radius: 24px;
}

.static figcaption {
    color: rgba(60, 75, 99, 255);
    font-size: 16px;
    padding-left: 24px;
}

.static ul {
    list-style: none;
    padding-top: 12px;
}

.static li {
    display: flex;
    align-items: center;
    color: rgba(82, 100, 129, 255);
    font-size: 16px;
    padding-top: 12px;
}

.static li::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #2b9216;
    margin-right: 14px;
}

.static table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #526481;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.static table thead {
    color: #ffffff;
}

.static table tbody {
    color: #526481;
}

.static table thead tr th {
    border-bottom: 1px solid #526481;
}

.static table tbody tr td {
    border-bottom: 1px solid #1f2e44;
}

.static table tbody tr:last-child td {
    border-bottom: none;
}

.static table tbody tr:nth-child(odd) {
    background-color: #091629;
}

.static table td,
.static table th {
    padding: 14px 24px;
}

.sidebar__heading {
    color: #617088;
    font-size: 14px;
    padding: 42px 0 32px;
}

.sidebar__burger {
    padding: 23px 0 20px;
    border: solid rgba(255, 255, 255, .1);
    border-width: 0 1px 0 1px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 20px 28px 0;
}

.sidebar-nav,
.sidebar-header {
    width: 520px;
    transition-delay: .3s;
}

.sidebar-nav__tablet,
.sidebar-nav__tablet_small,
.sidebar-nav__mobile {
    display: none;
}

.wrapper.toggled .sidebar-nav,
.wrapper.toggled .sidebar-header {
    width: 100%;
}

.sidebar-nav__item,
.sidebar__heading {
    width: 320px;
}

.sidebar-nav__item {
    width: 98%;
    min-width: 214px;
}

.sidebar-nav__mobile .sidebar-nav__item .sidebar-nav__link {
    display: inline-flex;
    flex-direction: column;
}

.sidebar-nav__item .sidebar-nav__link .label {
    margin-top: -6px;
    align-self: flex-start;
}

.modal-open {
    overflow: hidden;
}

.wrapper.toggled .sidebar__heading {
    width: auto;
}

.sidebar__burger {
    display: none;
}

.wrapper.toggled .sidebar__burger {
    display: block;
}

.sidebar-nav__link {
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 17px 20px 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.sidebar-nav__link:hover {
    background-color: rgb(12, 25, 40);
}

.header {
    display: flex;
    align-items: stretch;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.burger-menu {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    overflow: visible;
    background: transparent;
    padding: 15px;
    margin: 0 18px;
    transition: opacity, filter .15s linear;
    text-transform: none;
}

.burger-box {
    perspective: 80px;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 16px;
}

.burger-inner,
.burger-inner::after,
.burger-inner::before {
    position: absolute;
    width: inherit;
    height: 3px;
    border-radius: 20%;
    background-color: #ffffff;
}

.burger-inner {
    top: 50%;
    display: block;
    transition: transform .15s cubic-bezier(.645, .045, .355, 1),
    background-color 0s cubic-bezier(.645, .045, .355, 1) .1s;
}

.burger-inner::before,
.burger-inner::after {
    transition: transform 0s cubic-bezier(.645, .045, .355, 1) .1s;
    display: block;
    content: "";
}

.burger-inner::before {
    top: -6px;
}

.burger-inner::after {
    bottom: -6px;
}

.burger-menu.open .burger-inner {
    transform: rotateY(180deg);
    background-color: transparent;
}

.burger-menu.open .burger-inner::before {
    transform: translate3d(0, 6px, 0) rotate(45deg);
}

.arrowDown img {
    margin-left: 5px;
    width: 12px;
    height: 10px;
    color: white;
}

.burger-menu.open .burger-inner::after {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.06);
    padding: 0 26px;
    align-items: center;
    flex-grow: 9;
}

.logo__link {
    display: inline-block;
}

.button {
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button_transparent {
    position: relative;
}

.button_transparent::before {
    content: '';
    position: absolute;
    left: -75px;
    top: -50px;
    height: 120px;
    width: 50px;
    z-index: 2;
    transform: rotate(35deg);
    background-color: rgba(255, 255, 255, 0.04);
    transition: left 10ms ease-out;
}

.button_transparent:hover::before {
    left: 120%;
    transition: left 550ms ease-out;
}

.button_big {
    display: inline-block;
    height: 40px;
    line-height: 42px;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #2e3a50;
    padding: 0 26px;
}

.button_add {
    padding: 0 26px 0 36px;
    background-color: transparent;
    background-position: left 14px center;
    background-repeat: no-repeat;
    background-image: url(assets/img/plus.png);
    background-size: 12px 12px;
}

.button_small {
    display: inline-block;
    height: 26px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    color: #ffffff;
    border: 1px solid #2e3a50;
    background-color: transparent;
    padding: 0 14px;
}

.button_lightblue {
    background-color: rgba(47, 184, 255, 0.1);
    color: #2fb8ff;
    border: none;
}

.button_gradient {
    background-image: -moz-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0.85) 100%);
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.button_steam {
    width: 100%;
    margin: 15px;
    height: 40px;
    line-height: 44px;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    background-image: url(assets/img/steam-logo.png);
    background-size: 25px 15px;
    background-position: left 15% center;
    background-repeat: no-repeat;
    padding: 0 14px;
}

.button_trade-url {
    margin-left: 18px;
}

.button_trade-url:hover {
    color: #ffffff;
}

.header-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    flex-grow: .4;
}

.header-tab {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.tab-text {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 14px;
    transition: .3s ease-in-out;
}

.tab-icon {
    width: 25px;
    height: 25px;
    fill: #2fb8ff;
    transition: .2s ease-in-out;
}

.header-tab:hover .tab-text {
    color: #2fb8ff;
}

.header-profile-container {
    position: relative;
    padding: 0 38px 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header-profile-user {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/*SVG-S HEADER NEEED TO REMAKE*/
.icons-header_icon-faq {
    background-image: url("./assets/img/header-icons/faq.svg");
    width: 35px;
    height: 50px;
    fill: white;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.icons-header-faq:hover .icons-header_icon-faq {
    fill: #00abe6;
    background-image: url("./assets/img/header-icons/faq_active.svg");
}

.icons-header-faq:hover span {
    color: #00abe6;
}

.icons-header-faq {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.icons-header_icon-bots {
    background-image: url("./assets/img/header-icons/bots.svg");
    width: 35px;
    height: 50px;
    fill: white;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.icons-header-bots:hover .icons-header_icon-bots {
    fill: #00abe6;
    background-image: url("./assets/img/header-icons/bots_active.svg");
}

.icons-header-bots:hover span {
    color: #00abe6;
}

.icons-header-bots {
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icons-header_icon-exchange {
    background-image: url("./assets/img/header-icons/exchange.svg");
    width: 35px;
    height: 50px;
    color: #00abe6;
    background-repeat: no-repeat;
    transition: all 0.3s;
}

.icons-header-exchange:hover .icons-header_icon-exchange {
    background-image: url("./assets/img/header-icons/exchange_active.svg");
}

.icons-header-exchange:hover span {
    color: #00abe6;
}

.icons-header-exchange {
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/**/
.header-profile__link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inventory-tab-list {
    display: flex;
    margin-left: 5%;
}

.notification {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(243, 68, 78);
    border: 3px solid rgba(243, 68, 78, .5);
    box-shadow: 0 0 0 3px rgba(243, 68, 78, .5);
    border-radius: 50%;
    color: #ffffff;
    font-size: 8px;
    z-index: 2;
}

.header-profile-nickname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 7px;
    margin-left: 18px;
}

.label {
    display: inline-block;
    white-space: nowrap;
    height: 22px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
}

.label_green {
    color: #3ad300;
    background-color: rgb(25, 53, 41);
}

.label_dark-green {
    color: #ffffff;
    background-color: rgb(47, 119, 88);;
}

.label_dark-blue,
.label_dark-blue .label__link {
    color: #617088;
    background-color: rgb(33, 51, 79);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead .table__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.flex-table .table__row {
    display: flex;
    align-items: center;
    padding: 16px 0 12px 24px;
}

.flex-table .table__heading:first-child,
.flex-table .table__item:first-child {
    padding: 0;
}

.flex-table .table__heading:first-child,
.flex-table .table__item:first-child {
    width: 60%;
    text-align: left;
}

.flex-table .table__heading,
.flex-table .table__item {
    width: 20%;
    text-align: center;
}

.lot-img-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: inset 0px 2px 3px 0px rgba(255, 255, 255, 0.2);
    width: 48px;
    height: 48px;
}

.table__item_dota .lot-img-container,
.item-img-container,
.selected-lot .lot-img-container,
.popup-container .lot-img-container {
    box-shadow: none;
    overflow: hidden;
    border: 1px solid #425778;
}

.authorization-warning {
    color: #2899D5;
    font-weight: 600;
    font-size: 18px;
}

.selected-lot .lot-img-container,
.popup-container .lot-img-container {
    width: 84px;
    height: 84px;
    margin-right: 26px;
}

.item-img-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.content {
    padding: 0 20px;
}

.lot-img {
    width: 100%;
}

.table__item_dota .lot-img,
.item-img-container .item-img {
    height: 70%;
}

.item-img-container .item-img {
    transition: .3s;
}

.item-img-container:hover .item-img {
    transform: scale(1.6);
}

.lot-item-main-info {
    padding-left: 22px;
}

.lot-item-main-info .lot-table-value {
    padding-bottom: 5px;
}

.user-lot-container {
    border-radius: 15px;
    background-color: rgba(24, 40, 65, 0.3);
}

.user-lot-wrapper {
    padding: 34px 44px 0;
}

.user-lot-top {
    position: relative;
    margin-bottom: 14px;
}

.total-lots-table .table-body {
    position: relative;
}

.total-lots-table .table-body .table__row:hover,
.total-lots-table .table-body .table__row.selected,
.user-lot-table tbody .table__row:hover {
    background-color: rgba(3, 9, 17, 0.3);
}

.total-lots-table .table-body .table__row,
.user-lot-table tbody .table__row {
    transition: .3s;
    cursor: pointer;
}

.total-lots-table .view::-webkit-scrollbar {
    width: 0 !important;
}

.total-lots-table .view {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.user-lot-table .table__row,
.bots-table .table__row,
.profile-table .table__row,
.affiliate-table .table__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.user-lot-table tbody .table__row:last-child,
.bots-table tbody .table__row:last-child {
    border: none;
}

.user-lot-table .table__item:first-child {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.user-lot-table .table__item:nth-child(n+2) {
    text-align: center;
}

.user-lot-table .table__item {
    padding: 12px 0 14px;
}

.user-lot-table {
    min-width: 1200px;
}

.lot-table-text {
    font-size: 13px;
    color: #617088;
}

.lot-table-value {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.bid-table-value_padding {
    padding-left: 6px;
}

.pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination-page {
    padding: 0 5px;
    cursor: pointer;
}

.pagination-link {
    color: #617088;
    font-size: 13px;
    outline: none;
    transition: .3s;
}

.pagination-page.selected .pagination-link {
    color: #ffffff;
}

.previous-label a,
.next-label a {
    display: inline-block;
    border-width: 0 2px 2px 0;
    border-color: #3c5478;
    border-style: solid;
    border-radius: 20%;
    padding: 4px;
    transition: .3s;
    cursor: pointer;
    outline: none;
}

.previous-label:hover a,
.next-label:hover a {
    border-color: #ffffff;
}

.previous-label a {
    transform: rotate(135deg);
}

.next-label a {
    transform: rotate(-45deg);
}

.previous-label.disabled,
.next-label.disabled {
    opacity: .2;
}

.previous-label,
.next-label {
    padding: 0 6px;
}

.main-content-container {
    padding-top: 76px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

.lots-tab,
.lots {
    position: relative;
    flex: 13 0 0;
}

.lots-tab__tab-list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 14px 0;
}

.tab-pill {
    font-size: 14px;
    font-weight: 700;
    color: #617088;
    height: 42px;
    line-height: 46px;
    padding: 0 20px;
    border-radius: 30px;
    transition: .3s ease;
    cursor: pointer;
    outline: none;
}

.tab-pill.react-tabs__tab--selected {
    background-image: -moz-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0.85) 100%);
    color: #ffffff;
}

.lots-content,
.selected-lot,
.auction-info {
    border-radius: 15px;
    background-color: rgba(24, 40, 65, 0.3);
}

.table__heading {
    font-size: 13px;
    color: #617088;
    text-align: left;
}

.table__item:first-child {
    display: flex;
    align-items: center;
}

.table__heading:first-child,
.table__item:first-child {
    padding: 18px 0 16px 22px;
}

.table__item:nth-child(n+2) {
    color: #ffffff;
    font-weight: 600;
    padding-left: 6px;
}

.total-lots-table .table-body .table__row,
.total-lots-table .table-header .table__row {
    position: relative;
    border-bottom: 1px solid #1e2e43;
}

.total-lots-table .table-body .table__row::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: #2fb8ff;
    transform: scaleY(0);
    transition: .3s;
}

.total-lots-table .table-body .table__row:hover::before {
    transform: scaleY(1);
}

.lots-pagination {
    display: flex;
    justify-content: space-between;
    padding: 44px 36px 38px 22px;
}

.lots-pagination__results {
    font-size: 16px;
    color: #ffffff;
}

.lots-pagination__value {
    font-size: 13px;
    padding-left: 8px;
}

.lots-pagination__text {
    padding-left: 4px;
}

.pagination_total-lots {
    display: flex;
    margin-bottom: 0;
}

.lots-pagination__text,
.lots-pagination__link,
.lots-pagination__break {
    font-size: 13px;
    color: #617088;
}

.lots-pagination__break-link {
    color: #617088;
    outline: none;
}

.lots-pagination__page {
    padding: 0 5px;
}

.authorization_container {
    padding: 0 32px;
    margin: auto;
    flex-grow: .2;
}

.next-label_disabled,
.previous-label_disabled {
    display: none;
}

.lots-pagination__page.selected {
    color: #ffffff;
}

.lots-pagination__link {
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.lots-pagination__link:hover,
.lots-pagination__link_active {
    color: #ffffff;
}

.tab-panel-lots.react-tabs__tab-panel--selected .table tbody {
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-timing-function: linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.filter {
    position: relative;
    flex: 5 0 0;
    border-radius: 10px;
    background-color: #182841;
    margin: 0 14px;
}

.filter-wrapper {
    padding-bottom: 22px;
}

.filter__search,
.dropdown,
.tooltip__trigger,
.filter-refresh,
.filter__range,
.range__input,
.authorization-tab__email,
.authorization-tab__password,
.insert-sum,
.trade-url__input,
.profile-info__input {
    border: none;
    height: 42px;
    line-height: 44px;
    border-radius: 3px;
    padding: 0 20px;
    outline: none;
    font-size: 14px;
    color: #ffffff;
}

.profile-info__input::placeholder {
    color: #ffffff;
}

.trade-url__input,
.profile-info__input {
    margin-left: 34px;
    background: #131f30;
}

.profile-info__input {
    width: 500px;
    height: auto;
    flex-grow: 1;
    line-height: normal;
    background: transparent;
}

.profile-info__error,
.trade-url__error {
    position: absolute;
    top: -20px;
    color: #f21332;
    font-weight: 700;
    white-space: wrap;
}

.trade-url__error {
    top: 44px;
    left: 34px;
}

.filter__search {
    width: 100%;
    background: #3c5478 url(assets/img/search.png) 92% center/14px 15px no-repeat;
}

.insert-sum {
    background: #3c5478;
}

.filter__search::placeholder,
.range__input::placeholder,
.insert-sum::placeholder {
    color: #ffffff;
}

.form-filter__item {
    padding: 22px 16px;
    border-bottom: 1px solid rgba(92, 114, 150, 0.06);
}

.filter__heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 18px;
}

.filter__subheading {
    color: #5c6a82;
    font-size: 14px;
    font-weight: 600;
}

.filter__range,
.dropdown,
.range__input {
    background-color: #131f30;
    margin-top: 6px;
}

.filter__range {
    width: 46.9%;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown_menu {
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px 0;
    background-color: #131f30;
    border-top: 1px solid rgba(92, 114, 150, 0.06);
    z-index: 1;
    overflow-y: auto;
    max-height: 240px;
}

.dropdown_menu::-webkit-scrollbar {
    width: 15px;
}

.Dropdown-option {
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
    transition: .3s;
}

.Dropdown-option:hover {
    color: #2fb8ff;
}

.dropdown__arrow {
    position: absolute;
    content: '';
    width: 10px;
    height: 6px;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: url(assets/img/dropdown-arrow.png) center center/cover no-repeat;
}

.Dropdown-root.is-open .dropdown__arrow {
    transform: rotate(180deg);
}

.Dropdown-root {
    position: relative;
}

.selected-lot,
.auction-info {
    flex: 9 0 0;
    position: relative;
}

.selected-lot__make-bid {
    color: #ffffff;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 7px;
    background-color: #00B7FF;
    padding: 5px;
}

.selected-lot-wrapper,
.auction-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.selected-lot-wrapper {
    padding: 20px 20px 20px 32px;
}

.selected-lot__main-info {
    display: flex;
    align-items: center;
}

.selected-lot__img-container {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}

.selected-lot-wrapper .selected-lot__img-container,
.popup .selected-lot__img-container {
    margin-right: 18px;
}

.selected-lot-wrapper .dribble_button {
    margin-left: auto;
}

.selected-lot__transparency {
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid rgb(29, 47, 75);
    border-radius: 30px;
    background-image: linear-gradient(-90deg, rgb(49, 86, 145) 0%, rgba(13, 24, 41, 0) 100%);
    box-shadow: inset 0px 2px 3px 0px rgba(255, 255, 255, 0.2);
    opacity: 0.38;
    width: 100%;
    height: 100%;
}

.selected-lot__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94px;
    transition: .3s;
}

.selected-lot__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.selected-lot__info::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -12px;
    background-color: rgba(92, 114, 150, .06);
}

.selected-lot__name {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.selected-lot__type {
    padding-top: 14px;
    display: flex;
}

.selected-lot__type .label:first-child {
    margin-bottom: 10px;
}

.vertical-dash {
    font-weight: 100;
}

.selected-lot__description {
    padding-top: 26px;
    width: 82%;
    line-height: 1.4;
    font-size: 12px;
    color: #3c4b63;
}

.button_more {
    color: #2fb8ff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.lot-params {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 22px;
}

.lot-params__item {
    width: 30%;
    margin-bottom: 12px;
}

.dash {
    height: 60px;
    width: 1px;
    background: rgba(255, 255, 255, .1);
}

.text-column__heading {
    font-size: 15px;
    font-weight: 500;
    color: #5c6a82;
    padding-bottom: 8px;
}

.text-column__value {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.selected-lot-bid-buttons {
    display: flex;
    max-width: 80%;
}

.authorization_container {
    display: block;
}

.dribble_button,
.authorization__button {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    height: 42px;
    line-height: 44px;
    padding: 0 20px;
    border-radius: 30px;
    transition: .3s ease;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background-image: -moz-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0) 100%);
    background-image: linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0.85) 100%);
}

.dribble_button {
    padding: 16px 20px 12px;
    line-height: 16px;
    font-size: 16px;
    transition: .3s ease;
}

.auction-filter .dribble_button {
    padding: 16px 28px 12px;
}

.dribble_button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px -2px rgba(0, 107, 237, 0.5);
}

.dribble_button div {
    display: flex;
    overflow: hidden;
    text-shadow: 0 16px 0 #fff;
    white-space: pre-wrap;
}

.dribble_button span {
    transition: .3s ease;
}

.dribble_button:hover span {
    transform: translateY(-16px);
}

.dribble_button span:nth-child(1) {
    transition-delay: 0.02s;
}

.dribble_button span:nth-child(2) {
    transition-delay: 0.05s;
}

.dribble_button span:nth-child(3) {
    transition-delay: 0.08s;
}

.dribble_button span:nth-child(4) {
    transition-delay: 0.1s;
}

.dribble_button span:nth-child(5) {
    transition-delay: 0.13s;
}

.dribble_button span:nth-child(6) {
    transition-delay: 0.15s;
}

.dribble_button span:nth-child(7) {
    transition-delay: 0.18s;
}

.dribble_button span:nth-child(8) {
    transition-delay: 0.2s;
}

.dribble_button span:nth-child(9) {
    transition-delay: 0.23s;
}

.dribble_button span:nth-child(10) {
    transition-delay: 0.25s;
}

.dribble_button span:nth-child(11) {
    transition-delay: 0.28s;
}

.dribble_button span:nth-child(12) {
    transition-delay: 0.3s;
}

.dribble_button span:nth-child(13) {
    transition-delay: 0.33s;
}

.dribble_button span:nth-child(14) {
    transition-delay: 0.35s;
}

.dribble_button span:nth-child(15) {
    transition-delay: 0.38s;
}

.dribble_button span:nth-child(16) {
    transition-delay: 0.4s;
}

.dribble_button span:nth-child(17) {
    transition-delay: 0.43s;
}

.dribble_button span:nth-child(18) {
    transition-delay: 0.45s;
}

.dribble_button span:nth-child(19) {
    transition-delay: 0.48s;
}

.dribble_button span:nth-child(20) {
    transition-delay: 0.5s;
}

.dribble_button span:nth-child(21) {
    transition-delay: 0.53s;
}

.dribble_button span:nth-child(22) {
    transition-delay: 0.55s;
}

.toggle-switch {
    position: relative;
    width: 25px;
    height: 12px;
    background: #21334f;
    border-radius: 10px;
    transition: background-color .3s;
}

.toggle-switch.active {
    background: #2fb8ff;
}

.toggle-button {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(47, 184, 255);
    box-shadow: 0px 0px 3px 0px rgba(1, 109, 255, 0.7);
}

.selected-lot-auto {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.selected-lot-auto__text {
    font-size: 15px;
    color: #4c5a70;
    font-weight: 500;
    padding: 0 8px;
}

.selected-lot-auto__icon {
    display: inherit;
}

.selected-lot-auto__icon .icon {
    width: 15px;
    height: 16px;
    fill: #ffffff;
}

.make-bid-wrapper {
    padding: 22px 24px 34px;
}

.range-container .make-bid-input .range__input {
    margin-top: 6px;
}

.make-bid {
    position: relative;
    background-color: #182841;
    border-radius: 4px;
    margin: 25px 0 34px;
}

.make-lot-input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
}

.make-bid__bid,
.make-bid__play {
    width: 140px;
}

.text__error {
    position: absolute;
    bottom: 8px;
    color: #f21332;
    font-size: 14px;
    font-weight: 600;
}

.input__error {
    border: 2px solid #f21332;
    border-radius: 6px;
}

.range__input {
    width: 100%;
}

.make-bid__range {
    padding: 8px 0 12px;
}

.make-bid__total {
    display: flex;
    align-items: center;
}

.filter__subheading {
    margin-right: 16px;
}

.curve-triangle {
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translateX(45%);
}

.filter-refresh-container .curve-triangle {
    left: 7%;
}

.selected-lot__history-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}

.selected-lot__history-heading {
    color: #2899D5;
    font-size: 12px;
    font-weight: 400;
}

.selected-lot-bottom-container {
    display: flex;
    align-items: center;
}

.selected-lot__history-more {
    color: #2fb8ff;
    font-size: 13px;
}

.selected-lot__last-bid {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.last-bid-time {
    color: #3c4b63;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 28px;
}

.last-bid-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.last-bid-item__user {
    font-size: 15px;
    color: #ffffff;
}

.last-bid-item__line {
    flex: 1;
    background-color: rgba(45, 66, 99, .3);
    height: 1px;
    margin: 0 20px;
}

.footer-wrapper {
    text-align: center;
    padding: 52px 0 42px;
}

.footer__heading,
.statistics-item__value {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
}

.statistics-list {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 44px 0 60px;
}

.statistics-item {
    display: flex;
    align-items: center;
}

.statistics-dash {
    background-color: rgba(255, 255, 255, .1);
    width: 1px;
}

.statistics-item__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 24px;
}

.statistics-item__circle_violet {
    background-color: #4321d7;
    box-shadow: inset 0px 25px 50px 0px rgba(245, 255, 227, 0.3);
}

.statistics-item__circle_orange {
    background-image: -moz-linear-gradient(135deg, rgb(196, 76, 38) 0%, rgb(255, 158, 3) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(196, 76, 38) 0%, rgb(255, 158, 3) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(196, 76, 38) 0%, rgb(255, 158, 3) 100%);
    background-image: linear-gradient(135deg, rgb(196, 76, 38) 0%, rgb(255, 158, 3) 100%);
}

.statistics-item__circle_red {
    background-image: -moz-linear-gradient(90deg, rgb(198, 28, 0) 0%, rgb(147, 21, 3) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(198, 28, 0) 0%, rgb(147, 21, 3) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(198, 28, 0) 0%, rgb(147, 21, 3) 100%);
    background-image: linear-gradient(90deg, rgb(198, 28, 0) 0%, rgb(147, 21, 3) 100%);
}

.statistics-item__img {
    width: 32px;
    height: 32px;
}

.statistics-item-text {
    text-align: left;
}

.statistics-item__heading {
    color: #5c6a82;
    font-size: 14px;
    padding-bottom: 5px;
}

.footer-rights {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__notification {
    padding: 0 6px;
}

.footer__link {
    color: #617088;
    font-size: 13px;
    opacity: .7;
    text-decoration: none;
}

.footer-rights__reserved {
    color: #617088;
    padding: 0 24px 0 30px;
}

.authorization-tab-list,
.profile-tab-list {
    justify-content: space-around;
    display: flex;
    border-bottom: 1px solid rgba(53, 89, 133, .11);
}

.authorization-tab-list__item,
.profile-tab-list__item {
    width: 50%;
    text-align: center;
    position: relative;
    padding: 34px 0 28px;
    color: #617088;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.authorization-tab-list__item.react-tabs__tab--selected,
.profile-tab-list__item.react-tabs__tab--selected {
    background-color: rgb(8, 33, 57);
    color: #ffffff;
    transition: .3s;
}

.authorization-tab-list__item::after,
.profile-tab-list__item::after,
.current-game_container::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #31b6fd;
    transform: scaleX(0);
    transition: .3s;
}

.authorization-tab-list__item.react-tabs__tab--selected::after,
.profile-tab-list__item.react-tabs__tab--selected::after,
.current-game_container.active-game::after {
    transform: scale(1);
}

.authorization-tab-panels {
    padding: 36px 60px 42px;
}

.authorization-tab-panel {
    text-align: center;
}

.authorization-tab-panel__or {
    padding: 18px 0;
}

.authorization-tab__email::placeholder,
.authorization-tab__password::placeholder {
    color: #fdfdfd;
    font-size: 14px;
}

.authorization-tab__email,
.authorization-tab__password {
    background-color: rgb(24, 40, 65);
    width: 100%;
}

.authorization-tab__password {
    margin-top: 16px;
}

.authorization-tab-panel__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 24px;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-size: 13px;
    color: #fdfdfd;
    user-select: none;
}

.checkbox-input_hidden {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__checkmark {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(24, 40, 65);
    border-radius: 4px;
}

.checkbox__checkmark::after {
    content: '';
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
}

.checkbox-input_hidden:checked ~ .checkbox__checkmark::after {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%) rotate(45deg);
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    opacity: 1;
}

.authorization__forgot {
    display: block;
    font-size: 15px;
    color: #2ba9eb;
    font-weight: 500;
    padding-bottom: 18px;
}

.authorization__dash {
    background-color: rgb(24, 40, 65);
    height: 1px;
    width: 100%;
}

.authorization-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0 32px;
}

.authorization-socials__icons {
    display: flex;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 0 2px;
}

.social-icon .icon {
    height: 25px;
    width: 22px;
    fill: #ffffff;
}

.social-icon_odnoklassniki {
    background-color: #ff8105;
}

.social-icon_vk {
    background-color: #4175a7;
}

.social-icon_facebook {
    background-color: #35589e;
}

.social-icon_twitter {
    background-color: #00abe6;
}

.social-icon_google {
    position: relative;
    background-color: #e73928;
    overflow: hidden;
}

.social-icon_google .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -4px;
    bottom: -4px;
}

.authorization-tab-panel__mark {
    text-align: left;
}

.authorization-tab-panel__mark-link {
    color: #2fb8ff;
    padding: 0 3px;
}

.modal-wrapper {
    padding: 60px 54px 55px 74px;
}

.header-profile-user .tooltip-container {
    width: auto;
    right: -10px;
}

.header-profile-user .modal-wrapper {
    padding: 12px;
}

.modal-wrapper .selected-lot__last-bid:last-child {
    padding-bottom: 0;
}

.modal-close {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 24px;
    width: 28px;
    height: 28px;
    z-index: 1;
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 45%;
    height: 20px;
    width: 3px;
    background: #ffffff;
    border-radius: 28%;
}

.participation-content {
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: center;
}

.modal-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 36px;
    color: #ffffff;
}

.modal__heading {
    color: #ffffff;
    font-size: 23px;
}

.modal__subheading {
    padding-left: 16px;
    color: #3c4b63;
    font-size: 18px;
}

.winner-info__heading {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
}

.winner {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.winner__name {
    margin-right: 24px;
}

.winner-info__subheading {
    color: #5c6a82;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -28px;
}

.winner__name {
    color: #2fb8ff;
    font-size: 20px;
}

.winner-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.winner-item__name {
    font-size: 20px;
    color: #ffffff;
}

.winner-item__icon {
    width: 200px;
}

.winner-item__icon-image {
    width: inherit;
}

.notification-list {
    position: fixed;
    right: 18px;
    bottom: 0;
    z-index: 5;
}

.notification-item {
    min-width: 404px;
    min-height: 122px;
    background-color: #101e31;
    border: 1px solid #273850;
    border-radius: 15px;
    box-shadow: 0 0 0 5px #101e31;
    padding: 30px 32px 26px;
    margin: 13px 0;
    cursor: pointer;
    animation: slide-left 0.6s ease;
}

.notification-item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notification-item-content {
    margin-left: 24px;
}

.notification-item__heading {
    color: #ffffff;
}

.notification-item__text {
    color: #5c6a82;
}

@keyframes slide-left {
    0% {
        transform: translateX(430px);
    }
    100% {
        transform: translateX(0);
    }
}

.create-lot-wrapper {
    padding-top: 60px;
}

.create-lot-top {
    display: flex;
    align-items: center;
    padding: 0 66px 52px;
}

.create-lot__heading {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    padding-right: 38px;
}

.tab-list_create {
    display: flex;
}

.tab-pill_create.react-tabs__tab--selected {
    background: #263d64;
}

.tab-pill_create-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-pill-create__img {
    width: 15px;
    height: 18px;
    padding-bottom: 5px;
}

.tab-pill_create__text {
    font-size: 14px;
    color: #ffffff;
    padding-left: 6px;
}

.inventory-filter {
    position: relative;
    padding: 0 64px;
    border-bottom: 1px solid rgb(25, 38, 58);
}

.filter__search_create {
    padding-left: 56px;
    background: #19263a url(assets/img/search.png) 18px center/14px 15px no-repeat;
    text-overflow: ellipsis;
}

.filter__search_create::placeholder {
    transition: .3s text-indent;
}

.filter__search_create:focus::placeholder {
    text-indent: -200px;
}

.inventory-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(90px, auto));
    grid-template-rows: 90px 90px;
    grid-auto-flow: column;
    padding: 30px 0 48px;
}

.inventory-list .selected-lot__transparency {
    border: 5px solid rgb(11, 19, 31);
}

.selected-lot__img-container.selected,
.item-img-container.selected {
    border-color: rgb(29, 47, 75);
    background: -moz-linear-gradient(top, rgba(22, 125, 246, 1) 1%, rgba(13, 24, 41, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(22, 125, 246, 1) 1%, rgba(13, 24, 41, 0) 100%);
    background: linear-gradient(to bottom, rgba(22, 125, 246, 1) 1%, rgba(18, 48, 86, 1) 36%, rgba(13, 24, 41, 0) 100%);
}

.selected-lot__img-container.selected .selected-lot__img,
.item-img-container.selected .item-img {
    opacity: .2;
}

.selected-lot__img-container:hover .selected-lot__img {
    transform: scale(1.2) translate(-50%, -50%);
}

.selected-lot__img-container.selected .selected-lot__img {
    transform: scale(1) translate(-50%, -50%);
}

.selected-lot__img-container .selected-lot__circle,
.item-img-container .selected-lot__circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(47, 184, 255, .2);
    z-index: -1;
}

.selected-lot__img-container.selected .selected-lot__circle,
.item-img-container.selected .selected-lot__circle {
    z-index: 1;
}

.selected-lot__icon {
    display: inline-flex;
}

.selected-lot__icon .icon {
    opacity: 0;
    width: 16px;
    height: 16px;
    fill: #2fb8ff;
    animation: rotation 2s infinite linear;
}

.selected-lot__img-container.selected .selected-lot__icon .icon,
.item-img-container.selected .selected-lot__icon .icon {
    opacity: 1;
}

.make-bid-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.auction-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 64px 60px 64px;
}

.create-lot-notification {
    border-top: 1px solid rgb(25, 38, 58);
    padding: 40px 64px 60px 64px;
}

.range-container .range__input {
    width: 92px;
    margin: 0;
}

.lot-cost-filter__heading {
    color: #5c6a82;
    font-size: 15px;
    font-weight: 500;
}

.lot-cost-filter__val {
    color: #ffffff;
    font-size: 20px;
}

.bot-list-wrapper,
.replenish-wrapper,
.participation-wrapper {
    padding: 44px;
}

.bot-list-wrapper .scrollbar-container_custom {
    margin: 0;
}

.bot-list-wrapper .label {
    cursor: pointer;
}

.modal-pagination-container {
    position: relative;
    margin-bottom: 24px;
}

.bot-list__heading {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
}

.bots-table {
    table-layout: fixed;
}

.bots-table .table__heading:nth-child(2n) {
    padding-left: 8px;
}

.bots-table .table__item:first-child,
.bots-table .table__heading:first-child {
    width: 100px;
}

.bots-table .table__item:last-child,
.bots-table .table__heading:last-child {
    text-align: right;
}

.bots-table .table__heading:last-child {
    padding-right: 70px;
}

.bots-table .table__item:last-child {
    padding-right: 12px;
}

.bots-table .table__heading {
    font-weight: 400;
}

.bots-table .table__item {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.bots-table .table__item:first-child {
    padding: 22px 0 22px 36px;
}

.table__item .label,
.table__item .label .label__link {
    transition: .2s;
}

.bots-table .table__item .label:hover,
.bots-table .table__item .label:hover .label__link {
    color: #2fb8ff;
}

/*fsdfsdf*/
.popup {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: .6s ease-out;
}

.popup-wrapper {
    height: 100%;
    padding: 25px 50px 0 82px;
    background-color: rgb(11, 23, 38);
    box-shadow: 0px -7px 55px 0px rgba(0, 0, 0, 0.8);
}

.popup-button {
    text-align: center;
    padding-bottom: 25px;
}

.popup-container {
    display: flex;
    flex-wrap: wrap;
}

.popup-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.popup-col:nth-child(2n) {
    padding: 0 60px;
}

.popup__heading {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.popup-participant-list {
    height: 400px;
    padding-top: 25px;
}

.popup-participants-list__item {
    padding-bottom: 12px;
}

.popup-participants__val {
    color: #2fb8ff;
    padding-left: 9px;
}

.popup-participants-list__item {
    display: flex;
    align-items: center;
}

.popup-history-bid {
    padding-top: 30px;
}

.popup-history-bid .table__item:first-child {
    padding: 12px 0 10px 22px;
}

.popup-history-bid .table__heading {
    padding: 0;
}

.popup-history-bid .table__row:first-child {
    display: flex;
    justify-content: space-between;
}

.popup-table {
    margin-top: 4px;
    table-layout: fixed;
}

.popup-table .table__heading:first-child,
.popup-table .table__item:first-child {
    padding-left: 0;
    width: 70px;
}

.popup-table .table__item:nth-child(2n) {
    padding-left: 0;
}

.popup-table .table__heading:last-child {
    padding-right: 8px;
    text-align: right;
}

.popup-table .table__row {
    vertical-align: baseline;
}

.popup-table .last-bid-time {
    padding: 0;
}

.popup-lot-cost {
    display: flex;
    align-items: baseline;
    padding: 27px 0 55px;
}

.popup-lot-cost__text {
    color: #5c6a82;
    font-size: 15px;
    font-weight: 500;
}

.popup-lot-cost__val {
    margin-left: auto;
    color: #35bf06;
    font-size: 20px;
}

.current-bid__last-info {
    display: flex;
    align-items: center;
}

.current-bid__heading,
.current-bid-time__text,
.current-bid-step__text {
    color: #5c6a82;
    font-size: 15px;
    font-weight: 500;
}

.current-bid__heading {
    padding-right: 20px;
}

.current-bid__nickname {
    color: #ffffff;
    font-size: 17px;
    padding-left: 20px;
}

.current-bid__info {
    display: flex;
    align-items: center;
    padding: 26px 0;
}

.current-bid__cost {
    color: #ffffff;
    font-size: 38px;
}

.current-bid .selected-bid__dash {
    margin: 0 26px;
    align-self: stretch;
}

.current-bid-time__val {
    display: flex;
    align-items: center;
    color: #f21332;
    padding-top: 10px;
}

.current-bid-time__icon {
    padding-left: 20px;
}

.current-bid-time__icon .icon {
    fill: #f21332;
    width: 13px;
    height: 18px;
}

.current-bid-step {
    display: flex;
    align-items: baseline;
    padding-bottom: 34px;
}

.current-bid-step__val {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 24px;
}

.popup__more {
    padding-top: 8px;
}

.content-container {
    border-radius: 15px;
    background-color: rgba(1, 13, 31, .7);
    box-shadow: 0px 22px 75px 0px rgba(14, 38, 79, 0.6);
}

.content-container {
    margin-top: 36px;
}

.content-container-header,
.static header {
    display: flex;
    align-items: center;
    padding: 40px 50px 30px 50px;
    border-bottom: 1px solid rgba(48, 75, 118, .2);
}

.static header {
    padding: 40px 0 22px;
}

.container-profile__name {
    padding-left: 24px;
    font-size: 23px;
    font-weight: 400;
    color: #2ba5e6;
}

.container-body {
    padding: 28px 50px 58px;
}

.timer-countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    height: 100%;
}

.content:not(.content-main) + .footer {
    background-color: rgb(1, 13, 31);
    box-shadow: inset 0px 22px 74px 0px rgba(14, 38, 79, 0.6);
}

.profile-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 48%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(48, 75, 118, .3);
}

.profile-info_left {
    margin-right: 36px;
}

.profile-info-block {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info__heading,
.trade-url__heading {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.trade-url-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 26px 26px;
    background: #182841;
    border-radius: 5px;
    z-index: 21;
}

.trade-url-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
}

.trade-url,
.trade-url-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.trade-url__input {
    flex-grow: 1;
}

.profile-info__value {
    position: relative;
    font-size: 13px;
    margin-left: 34px;
    background: -webkit-linear-gradient(right, rgba(24, 40, 65, .3) 0%, rgba(97, 112, 136, 1) 50%, rgba(97, 112, 136, 1) 100%);
    -webkit-background-clip: text;
    color: #617088;
    transition: .3s;
    border: none;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-row:nth-child(2) {
    padding: 55px 0 0;
    align-items: flex-start;
}

.profile-row:nth-child(2) .profile-info {
    border: none;
    padding-bottom: 0;
}

.profile-info-user {
    display: flex;
    align-items: center;
}

.user-text {
    padding-left: 32px;
}

.user-text__name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-left: 26px;
}

.user-text__nickname {
    color: #617088;
    font-size: 16px;
    font-weight: 400;
}

.profile-info-money {
    display: flex;
    align-items: center;
}

.info-money__value {
    color: #35bf06;
    font-size: 20px;
}

.info-statistics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -34px;
}

.info-statistics-column {
    display: flex;
    width: 25%;
    min-width: 150px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: 24px;
}

.info-statistics-column__text {
    padding-left: 34px;
}

.profile-tabs {
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(16, 26, 43);
}

.profile-tab-wrapper {
    padding: 34px 40px 60px;
    min-height: 506px;
}

.profile-item__text {
    position: relative;
}

.profile-tab-list__item .notification {
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.profile-table,
.affiliate-table {
    table-layout: fixed;
}

.profile-table {
    min-width: 858px;
}

.profile-table .table__heading:first-child,
.affiliate-table .table__heading:first-child {
    width: 10%;
}

.profile-table .table__heading:nth-child(2) {
    width: 25%;
}

.profile-table .table__heading:last-child,
.profile-table .table__item:last-child {
    text-align: center;
}

.profile-table .table__heading,
.profile-table .table__item,
.affiliate-table .table__heading,
.affiliate-table .table__item {
    font-weight: 400;
}

.profile-table .table__heading {
    padding: 18px 0 16px 22px;
}

.profile-table .table__heading:not(:first-child) {
    padding-left: 12px;
}

.profile-table .table__item,
.affiliate-table .table__item {
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 18px;
    display: table-cell;
}

.profile-table .table__item:nth-child(n+4) {
    padding-left: 12px;
}

.profile-affiliate-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0 60px;
}

.profile-affiliate-header .profile-info {
    min-width: 48%;
}

.affiliate-header__heading {
    font-size: 23px;
    color: #ffffff;
}

.affiliate-header__highlight {
    color: #39cf01;
}

.affiliate-header__subheading {
    padding: 16px 0 60px;
    color: #5c6a82;
    font-size: 16px;
    font-weight: 300;
}

.affiliate-table .table__heading:last-child,
.affiliate-table .table__item:last-child {
    text-align: right;
    padding-right: 28px;
}

.profile_inventory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.profile_inventory-list .selected-lot__img-container {
    margin: 0 14px;
}

.tab-panel-lots.react-tabs__tab-panel--selected {
    height: 100%;
}

.profile-tab-panel.react-tabs__tab-panel--selected .profile-tab-wrapper {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-timing-function: linear;
}

.container-faq-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 108px;
}

.faq-tabs {
    position: relative;
    flex: 1;
    width: 100%;
}

.faq-tab-list {
    position: absolute;
    left: 0;
    top: -70px;
    flex-wrap: wrap;
    display: flex;
}

.accordion > div {
    margin-bottom: 12px;
}

.accordion > div > div:first-of-type {
    position: relative;
    border-radius: 6px;
    background-color: rgb(16, 26, 43);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding: 26px 30px 24px;
    cursor: pointer;
    transition: .3s;
}

.accordion > div > div:first-of-type::after {
    display: inline-block;
    content: '';
    position: absolute;
    border: solid #617088;
    border-width: 0 3px 3px 0;
    border-radius: 25%;
    padding: 4px;
    right: 34px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    transition: .3s;
}

.accordion > div:not(.open) > div:first-of-type {
    transition-delay: .4s, 0s;
    transition-property: border-radius, background-color;
}

.accordion .open > div:first-of-type {
    border-radius: 6px 6px 0 0;
}

.accordion > div > div:first-of-type:hover {
    background-color: rgb(24, 40, 65);
}

.accordion > div > div:first-of-type:hover::after {
    border-color: #2b9216;
}

.accordion-item {
    border-top: 1px solid rgba(53, 89, 133, .11);
    background-color: rgb(16, 26, 43);
    padding: 22px 172px 26px 30px;
    color: #3c4b63;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0 0 6px 6px;
}

.video-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.48;
    border-radius: 6px;
    background-color: rgb(16, 26, 43);
    margin-left: 78px;
    padding: 60px 0 64px;
}

.video__item {
    padding-bottom: 34px;
}

.video-item__heading {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 16px;
}

.video-container {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: 300px;
    height: 150px;
}

.video-container_opacity::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
}

.video-container_opacity:hover::after {
    background-color: rgba(0, 0, 0, .5);
}

.popup-content .video-container {
    height: 100%;
    width: 100%;
}

.faq-tab-panel.react-tabs__tab-panel--selected .accordion {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-timing-function: linear;
}

.label-container {
    margin-left: 48px;
}

.label-container .label {
    margin-left: 8px;
}

.sidebar-nav__tablet {
    min-width: 214px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.track-vertical {
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;
    border-radius: 3px;
    background-color: #3C5478;
}

.thumb-vertical {
    border-radius: 3px;
    background-color: #ffffff;
    cursor: grab;
}

.thumb-vertical:active {
    cursor: grabbing;
}

.lots-content .track-vertical {
    top: -16px;
    bottom: -64px;
    right: 8px;
}

.scrollbar-container_inventory {
    margin: 0 -64px;
    padding: 0 64px;
}

.info-money .button {
    margin-left: 28px;
}

.popup-content.bot-popup-content {
    width: 60%;
}

.auction-filter-range-pickers {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.auction-filter-range-pickers .range-container:last-child,
.input_create-lot:last-child {
    margin-left: 24px;
}


.form-filter__item .multiple-range-pickers {
    display: flex;
    align-items: baseline;
}

.slide-track {
    display: flex;
    margin: auto;
    animation: scroll 30s linear infinite;
}

.slide-track:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.slide__img {
    width: 130px;
    height: 62px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: transform .3s;
}

.slide_cs-go:hover .slide__img {
    transform: translate(-50%, -50%) scale(1.3, 1.3);
}

.slide_dota::before {
    position: absolute;
    content: '';
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 18px;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    z-index: 3;
}

.slide_dota::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 47%);
    z-index: 1;
}

.slide_dota .slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.heroes-block_title {
    width: 102px;
    transform: rotate(-90deg);
    align-items: center;
    font-size: 20px;
    color: white;
}

.hero-image {
    background-color: white;
    width: 85px;
    height: 85px;
}

.hero {
    position: relative;
    margin: 5px;
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.hero-active {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 85px;
    height: 85px;
    border: 2px solid white;
}

.heroes-block_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lots {
    position: relative;
}

.lots-header {
    display: flex;
    position: absolute;
    width: 100%;
    top: -52px;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
}

.pill-list {
    display: flex;
    margin-bottom: 0;
}

.pill-item {
    position: relative;
    display: flex;
    align-items: center;
}

.pill-item:first-child {
    padding-right: 46px;
}

.pill-item__text {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding-right: 25px;
}

.pill-item__tooltip {
    position: relative;
    margin-right: 16px;
}

.tooltip__trigger {
    position: relative;
    height: 32px;
    min-width: 92px;
    padding-right: 44px;
    line-height: 34px;
    background-color: #3c5478;
    border-radius: 30px;
    margin: 0;
    cursor: pointer;
}

.tooltip__trigger_type {
    min-width: 142px;
}

.lots-header .pill-item .modal-wrapper,
.lots-header .filter-refresh-container .modal-wrapper {
    padding: 12px 0;
}

.lots-header .pill-item .modal-content,
.lots-header .filter-refresh-container .modal-content {
    flex-direction: column;
    align-items: flex-start;
}

.pill-item .filter__item,
.profile-option,
.filter-refresh-container .filter__item {
    width: 100%;
    padding: 8px 23px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
}

.profile-option {
    padding: 0;
}

.filter-refresh-container .filter__item {
    position: relative;
    padding-left: 40px;
    white-space: nowrap;
}

.filter-refresh-container .filter__item .stairs {
    right: auto;
    left: 12px;
}

.pill-item .filter__item:hover,
.filter-refresh-container .filter__item:hover,
.filter__item.active,
.profile-option:hover {
    color: #2fb8ff;
}

.filter__item:hover .stairs,
.filter__item:hover .stairs::before,
.filter__item:hover .stairs::after,
.filter__item.active .stairs,
.filter__item.active .stairs::before,
.filter__item.active .stairs::after {
    background-color: #2fb8ff;
}

.stairs {
    position: absolute;
    top: 50%;
    right: 14px;
    width: 12px;
    height: 2px;
    transform: translateY(-50%);
    background-color: #ffffff;
    transition: .3s;
}

.stairs_desc::after,
.stairs_asc::after {
    position: absolute;
    content: '';
    bottom: 4px;
    width: 16px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    transition: .3s;
}

.stairs_desc::before,
.stairs_asc::before {
    position: absolute;
    content: '';
    bottom: -4px;
    width: 8px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.stairs_asc::after {
    bottom: -4px;
}

.stairs_asc::before {
    bottom: 4px;
}

.tooltip-container {
    position: absolute;
    top: 44px;
    right: -4px;
    width: 101%;
    background: #243754;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.filter-refresh-container .tooltip-container {
    right: auto;
    width: auto;
}

.tooltip-container.open {
    top: 65px;
    visibility: visible;
    opacity: 1;
}

.pill-item .tooltip-container {
    width: auto;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.filter-refresh-container {
    display: flex;
    align-items: center;
}

.lots-header .modal-wrapper {
    padding: 25px 72px 34px 32px;
}

.lots-header .modal-content {
    display: flex;
    align-items: flex-end;
}

.lots-header .modal-content .dribble_button {
    padding: 0 32px;
}

.lots-header .modal-content .form-filter__item {
    width: 170px;
    padding: 0;
    margin: 0 16px;
    border: none;
}

.lots-header .modal-content .form-filter__item:last-child {
    width: 170px;
    padding: 0;
    margin-right: 20px;
    border: none;
}

.lots-header .modal-content .form-filter__item .filter__subheading {
    margin: 0;
}

.filter-refresh {
    display: inline-flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #23344c;
    padding: 0;
    cursor: pointer;
}

.refresh-image {
    width: 14px;
    height: 14px;
    fill: #131f30;
}

.filter-refresh.active {
    background: linear-gradient(325deg, rgba(156, 236, 0, 0.9) 0%, rgba(43, 146, 25, .75) 100%);
}

.filter-refresh.active .refresh-image {
    fill: #ffffff;
}

.filter-refresh .refresh-image.active {
    animation: rotation .8s infinite linear;
}

.exchange-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    transition: .3s;
    cursor: pointer;
    min-height: 80px;

}

.exchange-item:hover {
    background-color: rgba(3, 9, 17, 0.3);
}

.exchange-item_item {
    display: flex;
    margin: 15px;
    align-items: center
}

.exchange-table {
    padding: 20px;
    background-color: rgba(24, 40, 65, 0.3);
    margin: 0 auto;
    min-width: 800px;
    min-height: 400px;
    border-radius: 15px;
}

.ex_button {
    margin-right: 15px;
    margin-bottom: 0;
}

.exchange-item_names {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.exchange-item_name {
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.exchange-item_game {
    font-size: 13px;
    color: #617088;
}

.transactions-block {
    margin: 20px auto;
    background-color: rgba(24, 40, 65, 0.3);
    border-radius: 15px;
    min-width: 800px;
}

.left {
    text-align: left !important;
}

.transactions-table {
    padding: 25px;
}

.trns {
    text-align: center;
}

.inv-acc {
    color: white;
}

.filter-switch {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 auto;
}

.pro-button {
    padding-bottom: 16px;
}

.filter-button {
    margin-right: 18px;
    display: flex;
    flex-direction: row-reverse;
}

.button_place-lot {
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(135deg, rgb(0, 107, 237) 0%, rgba(0, 107, 237, 0.85) 100%);
    color: white;
    transition: all 600ms;
}

.button_place-lot:hover {
    background-image: linear-gradient(135deg, rgb(0, 59, 126) 0%, rgba(0, 107, 237, 0.85) 100%);
    transform: scale(1.2, 1.2);
}

.button_place-lot:active {
    background-image: linear-gradient(135deg, rgb(0, 59, 126) 0%, rgba(0, 107, 237, 0.85) 100%);
    transform: scale(0.8, 0.8);
}

.heroes-block {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
}

.heroes-popup_wrapper {
    padding: 15px;
}

.heroes-block_title_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
}

.divider {
    height: 228px;
    width: 1px;
    background: #ffffff;
    margin-right: 20px;
}

.hero::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(62, 59, 66, .63);
    transition: all 500ms;
}

.hero:hover::after {
    background: none;
    transform: scale(1.5, 1.5);
}

.hero:hover {
    font-weight: 700;
    transform: scale(1.2, 1.2);
}

.hero-popup::-webkit-scrollbar {
    width: 1px;
}

.hero-name {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .74);
    color: #fff;
    bottom: 0;
    font-size: 10px;
    word-wrap: break-word;
    height: 34px;
    padding: 0 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-name.active {
    border: 2px solid white;
}

.heroes-popup-button-container {
    display: flex;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
}

.current-game_image {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.current-game_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    font-size: 15px;
    height: 88px;
    padding: 15px;
    cursor: pointer;
}

.logo-items {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.current-games {
    justify-content: space-between;
    color: white;
    min-width: 130px;
    padding: 10px;
    display: flex;
    height: 40px;
    background-color: #0e2240;
    border-radius: 30px;
}

.blue-text {
    color: #2fb8ff;
}

.payment-container {
    height: 630px;
}

.withdraw-block_left > .withdraw-header {
    font-size: 14px;
    color: #60698c;
    font-weight: 700;
    margin: 0;
    padding: 42px 28px 30px 28px;
    border-bottom: 1px solid #1d2134;
}

.withdraw-block_right > .withdraw-header {
    margin: 0;
    padding: 38px 0 29px 25px;
    border-bottom: 1px solid #1a1e31;
}

.withdraw-block_right > .withdraw-header h4 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.withdraw-container {
    display: flex;
    flex-direction: row;
}

.withdraw-block_left {
    width: 32%;
    background: #141725;
}

.withdraw-block_right {
    width: 68%;
    background: #0f121f;
}

.payment-list {
    margin: 0;
    padding: 24px 0 0 0;
    list-style-type: none;
}

.payment-block {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 9px 28px;
    cursor: pointer;
}

.payment-block_text {
    color: #687197;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.payment-block:hover .payment-block_text {
    color: #ffffff;
}

.payment-block_active {
    background-color: #1e3488;

}

.payment-block_active > .payment-block_text {
    color: #ffffff;
}

.payment-block_image img {
    width: 2em;
}

.payment-container {
    overflow-y: auto;
}

.payment-container::-webkit-scrollbar {
    width: 0;
}

.withdraw-input {
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.withdraw-input_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 10px auto;
    align-items: center;

}

.withdraw-input_container p {
    width: 150px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
    color: white;
    padding: 0;
    text-transform: uppercase;
}

.withdraw {
    margin-left: 25px;
    width: 120px;
}

.withdraw-submit {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: #263d64;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.3s;
}

.withdraw-submit:hover {
    background-color: #4975bf;
    transform: scale(1.2, 1.2);
}

.auction-info__text h2, .auction-info__content h2 {
    color: white;
    margin-bottom: 15px;
}

.auction-info__text div {
    color: #5c6a82;
    margin-bottom: 20px;
}

.auction-info__content {
    padding: 10px;
}

.auction-info__text {
    border-bottom: 1px solid #182841;
    padding: 10px;
}

.auction-info__video {
    height: 300px;
    background-image: url("./assets/img/note.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.auction-info-container {
    border: 2px solid #091521;
    border-radius: 15px;
    padding: 15px;
}

.lot-warning {
    position: absolute;
    width: 100%;
    background-color: rgba(14, 26, 45, 0.9);
    height: 100%;
    z-index: 15;
}

.lot-warning-item {
    position: relative;
    max-height: 150px;
    height: 33%;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    margin: 10px;
    padding: 10px 40px 40px 20px;
    align-items: baseline;
}

.create-lot-notification .lot-warning-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    max-height: none;
    padding: 28px 60px 28px 50px;
    margin: 0;
}

.selected-lot__params + .lot-warning-item {
    border-width: 1px;
    margin: 0 0 0 -16px;
}


.create-lot-notification .lot-warning-info {
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    margin-right: 12px;
}

.create-lot-notification .item-img-container {
    flex-shrink: 0;
    margin-right: 40px;
    cursor: default;
}

.create-lot-notification .item-img-container:hover .item-img {
    transform: none;
}

.create-lot-notification .lot-warning-content {
    display: flex;
    flex-shrink: 1;
}

.create-lot-notification .lot-warning_icon {
    position: relative;
    top: -10px;
    margin: 0 10px 0 0;
}

.create-lot-notification .button {
    flex-shrink: 0;
}

.lot-warning_icon {
    height: 70px;
    border-radius: 100px;
    margin: 10px;
}

.lot-warning_icon__body {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.lot-link_container {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lot-link_container img {
    width: 15px;
}

.selected-lot-info_container {
    display: flex;

}

.selected-lot__links {
    padding-top: 20px;
    margin-right: 15px;
}

.none {
    display: none;
}

.notification-block {
    height: 80px;
    width: 100%;
    background-color: #182841;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notification-table {
    cursor: pointer;
    background-color: #182841;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.heading_notification {
    width: 70%;
    font-size: 13px;
    color: #617088;
    font-weight: 400;
    text-align: left;
}

.deposit {
    width: 200px;
}

.replenish-wrapper {
    height: 350px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 1610px) {
    .selected-lot__game-logo {
        display: flex;
        align-items: center;
    }

    .selected-lot__game-logo-img {
        width: 76px;
        height: 34px;
        margin: 10px;
    }

    .selected-lot-wrapper .make-bid__bid {
        width: auto;
    }

    .create-lot-notification .item-img-container {
        margin-right: 8px;
    }
}

@media screen and (max-width: 1500px) {
    .profile-row_top {
        flex-direction: column;
    }

    .profile-info_left,
    .profile-info_right {
        width: 80%;
    }

    .profile-info_left {
        margin: 0 0 20px;
    }

    .profile-info-statistics {
        margin-left: 0;
    }

    .info-statistics-column__text {
        padding-left: 0;
    }

    .info-statistics-column {
        justify-content: center;
        width: 33%;
    }

    .profile-row_top + .profile-row > .profile-info {
        flex-grow: 1;
    }

    .profile-row_top + .profile-row > .profile-info + .profile-info {
        flex-grow: 0;
    }

    .user-text {
        max-width: 150px;
    }

    .profile-table .table__heading:nth-child(2) {
        width: 30%;
    }

    .auction-filter-range-pickers {
        flex-direction: column;
        width: auto;
    }

    .auction-filter-range-pickers .range-container:last-child {
        margin-left: 0;
    }

    .lots-tab {
        flex-basis: 100%;
        margin-bottom: 24px;
        height: 400px;
    }

    .filter {
        flex: 0;
        flex-basis: 28%;
        margin: 0 12px 0 0;
    }

    .select-lot {
        flex: 0;
        flex-basis: 70%;
    }

    .popup.slide {
        transform: translateY(-90%);
    }

    .popup-wrapper {
        padding: 25px 40px 0 40px;
    }

    .popup-col:last-child {
        flex: 1 0 28%;
    }

    .popup-col:nth-child(2n) {
        padding-left: 34px;
    }

    .input_create-lot:last-child {
        margin-left: 0;
        margin-top: 8px;
    }

    .heading_notification {
        width: 70%;
    }

    .create-lot-notification .lot-warning-item {
        flex-direction: column;
    }

    .create-lot-notification .button {
        margin-top: 12px;
    }

    .trade-url {
        width: 100%;
    }

    .trade-url-buttons {
        display: flex;
        margin-top: 28px;
    }

    .button_trade-url {
        align-self: center;
    }

    .button_apply-trade-url {
        align-self: center;
    }
}

@media screen and (max-width: 1280px) {
    .logo-container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1200px) {
    .header-tab-container {
        padding: 0 28px;
    }

    .header-tab:nth-child(2) {
        margin: 0 8px;
    }

    .footer-statistics-list {
        max-width: 80%;
    }

    .video-list-container {
        margin-left: 36px;
        padding: 60px 12px 64px;
    }

    .profile-row_top + .profile-row {
        flex-direction: column;
        align-items: center;
    }

    .profile-row_top + .profile-row > .profile-info {
        width: 80%;
    }

    .profile-row_top + .profile-row > .profile-info:first-child {
        padding-bottom: 24px;
    }

    .info-statistics-column:nth-child(2n) {
        border-right: 1px solid rgba(255, 255, 255, .1);
    }

    .create-lot-top {
        padding: 0 32px 52px;
    }

    .auction-filter {
        padding: 20px 32px 0;
    }

    .lot-cost-filter {
        margin-left: 16px;
    }

    .popup-col:nth-child(2n) {
        padding-left: 50px;
    }

    .popup-col:first-child {
        flex: 1 0 60%;
    }

    .popup-row__item:last-child {
        padding-left: 0;
    }

    .popup-col:nth-child(2n) {
        padding-left: 24px;
    }

    .popup-col:last-child {
        flex: 1 0 40%;
    }

    .popup-participants,
    .popup-history-lot,
    .popup-history-bid {
        display: none;
    }

    .create-lot-notification .lot-warning-item {
        padding: 28px 16px 28px;
    }
}

@media screen  and (max-width: 1000px) {
    .logo-items {
        display: none;
    }

    .logo-items:last-child {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .header-tab-container {
        display: none;
    }

    .sidebar-nav__tablet {
        display: block;
    }

    .faq-tabs {
        flex-basis: 100%;
    }

    .video-list-container {
        margin: 0;
        flex-basis: 100%;
        padding: 30px 12px 32px;
    }

    .profile-tab-list {
        flex-direction: column;
        align-items: center;
    }

    .profile-tab-list__item {
        width: 100%;
        padding: 18px 0 18px;
    }

    .profile-info_left, .profile-info_right {
        width: 100%;
    }

    .profile-row_top + .profile-row > .profile-info {
        width: 90%;
    }

    .profile-info__value {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-tab:not(.header-tab-popup),
    .bot-popup-trigger {
        display: none;
    }

    .header-tab-container {
        padding: 0;
        border: none;
        display: block;
        width: 0;
        flex-grow: 0;
    }

    .tab-pill_create {
        display: flex;
    }

    .tab-pill_create__text {
        display: none;
    }

    .auction-filter {
        padding: 20px 24px 0;
    }

    .auction-filter-range-pickers {
        width: 44%;
    }

    .lot-cost-filter {
        margin: 0 8px;
        text-align: center;
    }

    .tab-pill-create__img {
        padding-bottom: 0;
        width: 18px;
    }

    .inventory-list {
        grid-gap: 18px;
        grid-template-columns: repeat(auto-fill, minmax(70px, auto));
        grid-template-rows: 70px 70px 70px;
        grid-auto-flow: dense !important;
    }

    .selected-lot__img-container {
        width: 70px;
        height: 70px;
    }

    .selected-lot__img-container,
    .selected-lot__transparency {
        border-radius: 20px;
    }

    .selected-lot__img {
        width: 84px;
    }

    .slider {
        display: none;
    }

    .current-bid__cost {
        font-size: 24px;
    }

    .heroes-block {
        flex-direction: column;
    }

    .divider {
        display: none
    }

    .heroes-block_title {
        transform: none;
    }

    .hero-image {
        width: 60px;
        height: 60px;
    }

    .hero {
        width: 60px;
        height: 60px;
    }

    .hero-active {
        width: 60px;
        height: 60px;
    }

    .heroes-block_container {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .footer-rights {
        flex-direction: column;
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .logo-container {
        justify-content: center;
    }

    .header .button_add {
        display: none;
    }

    .sidebar-nav__tablet_small {
        display: block;
    }

    .footer-statistics-list {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 22px 30px;
    }

    .statistics-list__item {
        width: 220px;
        margin-bottom: 16px;
    }

    .statistics-list__item.statistics-dash {
        display: none;
    }

    .accordion-item {
        padding: 22px 30px 20px 30px;
    }

    .container-profile-body {
        padding: 28px 20px 30px;
    }

    .profile-info_right .profile-info__value {
        width: auto;
    }

    .user-text {
        padding-left: 8px;
    }

    .info-money .button {
        margin-left: 6px;
    }

    .info-money__value {
        white-space: pre;
    }

    .info-statistics-column {
        width: 50%;
    }

    .popup-content {
        width: 95% !important;
    }

    .modal-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .modal__subheading {
        padding: 8px 0 0;
    }

    .main-content-container {
        padding-top: 24px;
    }

    .user-lot-wrapper {
        padding: 34px 18px 0;
        min-height: 800px
    }

    .user-lot-top {
        margin-bottom: 24px;
    }

    .user-lot-top .pagination {
        top: 40px;
    }

    .filter {
        flex-basis: 100%;
        margin: 0 0 68px 0;
        order: -1;
    }

    .main-content-container .lots-tab {
        width: 100%;
    }

    .inventory-filter {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inventory-list {
        padding: 30px 24px;
    }

    .auction-filter {
        flex-direction: column;
        align-items: center;
    }

    .lot-cost-filter {
        width: 100%;
        order: -1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-bottom: 8px;
    }

    .auction-filter-range-pickers {
        width: 100%;
        margin-bottom: 12px;
    }

    .popup-row {
        flex-direction: column;
    }

    .popup-col:nth-child(2n) {
        padding-left: 0;
    }

    .current-bid__cost {
        font-size: 36px;
    }

    .current-bid-step {
        padding-bottom: 0;
    }

    .outbid-container {
        display: flex;
        align-items: center;
    }

    .outbid-container .selected-lot__make-bid {
        margin: 0 0 0 24px;
    }

    .trade-url-buttons {
        flex-direction: column;
    }

    .button_trade-url {
        margin-top: 12px;
    }

    .trade-url-buttons {
        margin-top: 40px;
    }
}

@media screen and (max-width: 576px) {
    .modal-open {
        overflow: hidden;
    }

    .burger-menu {
        margin: 0 8px;
    }

    .logo-container {
        padding: 0 8px;
    }

    .header-profile-container {
        flex-grow: inherit;
        padding: 0 8px;
        justify-content: center;
    }

    .header-profile-container .header-profile-nickname {
        padding-left: 8px;
    }

    .header-profile-container .label {
        display: none;
    }

    .sidebar-nav__mobile {
        display: block;
    }

    .footer-rights {
        padding: 0 8px;
    }

    .footer-rights__reserved {
        padding: 12px 8px
    }

    .content {
        padding: 0 8px;
    }

    .container-body {
        padding: 120px 12px 20px;
    }

    .faq-tab-list {
        top: -100px;
    }

    .accordion > div > div:first-of-type {
        padding: 26px 8px 20px
    }

    .accordion > div > div:first-of-type::after {
        right: 14px;
    }

    .accordion-item {
        padding: 16px 10px 20px 10px;
    }

    .accordion__text {
        text-align: justify;
    }

    .container-profile-body {
        padding-top: 40px;
    }

    .profile-info-user {
        display: none;
    }

    .profile-row_top + .profile-row .profile-info {
        justify-content: center;
    }

    .profile-tab-wrapper {
        padding: 34px 16px 60px;
    }

    .profile-info_left .button_lightblue + .button {
        display: none;
    }

    .profile-info .button {
        flex-shrink: 0;
    }

    .profile-info__value {
        width: auto;
    }

    .content-container-profile .content-container-header,
    .static header {
        padding: 40px 16px 30px;
    }

    .info-money .button {
        margin-left: 28px;
    }

    .info-statistics-column {
        min-width: 126px;
    }

    .bots-table .table__heading:first-child,
    .bots-table .table__item:first-child {
        width: 60px;
        padding: 18px 8px 16px;
        justify-content: center;
    }

    .bot-list-wrapper {
        padding: 34px 18px;
    }

    .bot-list-wrapper .pagination {
        top: 42px;
    }

    .create-lot-top {
        flex-direction: column;
        padding: 0 22px 16px;
    }

    .create-lot__heading {
        padding-right: 0;
        padding-bottom: 12px;
    }

    .auction-filter {
        flex-direction: column;
        padding: 20px 16px 0;
    }

    .auction-filter-range-pickers {
        width: 100%;
    }

    .create-lot-wrapper {
        padding: 34px 0;
    }

    .create-lot-wrapper .modal-close,
    .modal-wrapper .modal-close {
        right: 10px;
        top: 14px;
    }

    .inventory-filter {
        padding: 0;
    }

    .
    .selected-lot__transparency,
    .selected-lot__img-container {
        border-radius: 20px;
    }

    .selected-lot__img {
        width: 70px;
    }

    .inventory-filter + .scrollbar-container_custom {
        height: 170px;
    }

    .modal-wrapper {
        padding: 32px 24px 28px;
    }

    .authorization-tab-list__item {
        padding: 24px 18px;
    }

    .authorization-tab-panels {
        padding: 18px 24px 32px;
    }

    .button_steam {
        background-position: left 15% center;
    }

    .authorization-tab-panel__or {
        padding: 12px 0;
    }

    .authorization-socials {
        padding: 18px 22px;
    }

    .lots-tab .total-lots-table {
        min-width: 468px;
    }

    .total-lots-pagination {
        flex-direction: column;
        align-items: center;
        padding: 22px 36px 16px 22px;
    }

    .pagination_total-lots {
        order: -1;
        margin-bottom: 6px;
    }

    .selected-lot-wrapper,
    .auction-info-wrapper {
        padding: 20px 16px 40px;
    }

    .selected-lot,
    .auction-info {
        width: 100%;
    }

    .selected-lot .text-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33.3%;
        text-align: center;
    }

    .selected-lot .text-column__heading,
    .selected-lot .selected-lot__name {
        font-size: 13px;
    }

    .selected-lot .text-column__value {
        font-size: 16px;
    }

    .selected-lot .selected-lot__type .label:first-child {
        margin: 0 0 6px 0;
    }

    .selected-lot__description {
        margin-right: 0;
        width: 100%;
    }

    .current-bid-step__val {
        padding-left: 12px;
    }

    .popup-wrapper {
        padding: 25px 20px 0;
    }

    .selected-lot__game-logo {
        display: none;
    }

    .outbid-container .selected-lot__make-bid {
        margin: 0 0 0 12px;
    }
}
